@page "/lessons/"
@inject LessonService lessonService
@inject TeacherService teacherService
@inject BlockService blockService
@inject LessonIdblockIdService lessonIdblockIdService
@inject RoomIdlessonIdService roomIdlessonIdService

<TitleComponent Page="Lessons"></TitleComponent>

<br/>
<NavLink class="button" href="lessons/addLesson" style="text-decoration: none; margin-bottom: 15px">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span>Add Lesson</span>
</NavLink>
@if (Selected.Count == 1) {
    <button class="button" @onclick="DeleteSelected" style="margin-left: 15px">Delete Selected Lesson</button>
}
else if (Selected.Count > 1) {
    <button class="button" @onclick="DeleteSelected" style="margin-left: 15px">Delete Selected Lessons</button>
}

<br/>
Click on a lesson name to edit!
<br/>

@if (Lessons is null) {
    <button class="button is-loading is-large border-0 has-text-centered"></button>
}
else {
    bool checkAll = Selected.Count == Lessons.Count;
    <br/>
     <div style="overflow-x: auto">
         <table class="table is-bordered is-striped is-hoverable has-text-centered" style="width: 100%">
             <thead>
             <tr>
                 <th @onclick="() => HandleSelectAllLesssons(checkAll)">
                     <input type="checkbox" checked=@checkAll @onchange="@(() => HandleSelectAllLesssons(checkAll))" style="cursor: pointer;"/>
                 </th>
                 @foreach (ColumnDefinition column in Columns) {
                     <th @onclick="@(() => SortData(column))">
                         @column.Title
                         <span style="float: right" class="@(SortClass(column))"></span>
                     </th>
                 }
             </tr>
             </thead>
             <tbody>
             @foreach (Lesson l in Lessons) {
                 bool check = Selected.Contains(l.Id);
                 <tr>
                     <td @onclick="() => HandleSelectedLesssons(l.Id, check)" style="cursor: pointer;">
                         <input type="checkbox" checked=@check @onchange="@(() => HandleSelectedLesssons(l.Id, check))" style="cursor: pointer;"/>
                     </td>
                     @foreach (var column in Columns) {
                         @if (column.Title == "Name") {
                             <td>
                                 <a href="@($"lessons/{l.Id.ToString()}")">@l.Name</a>
                             </td>
                         }
                         else if (column.Title == "Teacher") {
                             <td>
                                 @Teachers.Find(x=>x.Id == l.TeacherId).Name
                             </td>
                         }
                         else if (column.Title == "Block(s)") {
                             <td>
                                 @string.Join(", ", LessonIdblockIds.Where(x=>x.LessonId == l.Id)
                                     .Select(x=>Blocks.Find(y=>y.Id == x.BlockId).BlockNum).OrderBy(x=>x))
                             </td>
                         }
                         else {
                             <td>
                                 @l.GetType().GetProperty(column.Property)?.GetValue(l)
                             </td>
                         }
                     }
                 </tr>
             }
             </tbody>
         </table>
     </div>
}

<br/><br/>
@code {

    List<Lesson> Lessons = null;
    List<Teacher> Teachers = null;
    List<Block> Blocks = null;
    List<LessonIdblockId> LessonIdblockIds = null;
    List<RoomIdlessonId> RoomIdlessonIds = null;
    List<ColumnDefinition> Columns = null;
    List<long> Selected = null;

    protected override async void OnInitialized() {
        await base.OnInitializedAsync();
        Columns = new List<ColumnDefinition> {
                new ColumnDefinition {Property = "Name", Title = "Name", SortDirection = SortDirection.Descending},
                new ColumnDefinition {Property = "Year", Title = "Year"},
                new ColumnDefinition {Property = "Level", Title = "Level"},
                new ColumnDefinition {Property = "Block", Title = "Block(s)"},
                new ColumnDefinition {Property = "NumLessons", Title = "Lessons Per Cycle"},
                new ColumnDefinition {Property = "TeacherId", Title = "Teacher"}
            };
        Selected = new List<long>();
        await RefreshLessons();
        await RefreshTeachers();
        await RefreshBlocks();
        await RefreshLessonIdblockIds();
        await RefreshRoomIdlessonIds();
        SortData();
    }

    private async Task RefreshLessons() {
        Lessons = await lessonService.GetAllLessonsAsync();
    }

    private async Task RefreshTeachers() {
        Teachers = await teacherService.GetAllTeachersAsync();
    }

    private async Task RefreshBlocks() {
        Blocks = await blockService.GetAllBlocksAsync();
    }
    
    private async Task RefreshLessonIdblockIds() {
        LessonIdblockIds = await lessonIdblockIdService.GetAllLessonIdblockIdsAsync();
    }
    
    private async Task RefreshRoomIdlessonIds() {
        RoomIdlessonIds = await roomIdlessonIdService.GetAllRoomIdlessonIdsAsync();
    }

    private void HandleSelectedLesssons(long id, bool checkedValue) {
        if (!checkedValue) {
            if (!Selected.Contains(id)) {
                Selected.Add(id);
            }
        }
        else {
            if (Selected.Contains(id)) {
                Selected.Remove(id);
            }
        }
    }

    private void HandleSelectAllLesssons(bool checkAll) {
        if (!checkAll) {
            foreach (Lesson l in Lessons) {
                if (Selected.Contains(l.Id)) continue;
                Selected.Add(l.Id);
            }
        }
        else {
            Selected.Clear();
        }
    }

    private async void DeleteSelected() {
        string message = Selected.Count > 1 ? $"Are you sure you want to delete {Selected.Count.ToString()} lessons?" : $"Are you sure you want to delete {Selected.Count.ToString()} lesson?";
        var options = new MessageBoxOptions(message) {
            Title = "Confirm Action",
            Buttons = new []{"Confirm", "Cancel"}
        };
        var choice = await Electron.Dialog.ShowMessageBoxAsync(options);
        if (choice.Response == 1) return;
        while (Selected.Count > 0) {
            Lesson l = Lessons.Find(x => x.Id == Selected[0]);
            await lessonService.DeleteLessonAsync(l);
            var blocks = LessonIdblockIds.Where(x => x.LessonId == l.Id);
            await lessonIdblockIdService.DeleteLessonIdblockIdsAsync(blocks);
            await RefreshLessonIdblockIds();
            await roomIdlessonIdService.DeleteRoomIdlessonIdsAsync(RoomIdlessonIds.Where(x=>x.LessonId == l.Id));
            foreach (var block in blocks) {
                if (LessonIdblockIds.All(x => x.BlockId != block.BlockId)) {
                    await blockService.DeleteBlockAsync(Blocks.Find(x => x.Id == block.BlockId));
                }
            }
            Selected.RemoveAt(0);
        }
        await RefreshLessons();
        await RefreshTeachers();
        await RefreshBlocks();
        await RefreshRoomIdlessonIds();
        SortData();
        StateHasChanged();
    }
    
    private string SortClass(ColumnDefinition column) {
        return column.SortDirection != SortDirection.NotSet ? $"sort {column.SortDirection.ToString().ToLower()}" : "no-sort";
    }

    private void SortData(ColumnDefinition sortByColumn = null) {
        bool initial = sortByColumn is null;
        if (sortByColumn is null) {
            sortByColumn = Columns.FirstOrDefault(x => x.SortDirection != SortDirection.NotSet);
            if (sortByColumn is null) return;
        }
        foreach (ColumnDefinition column in Columns) {
            if (column.Property != sortByColumn.Property) column.SortDirection = SortDirection.NotSet;
        }
        if (!initial)
            switch (sortByColumn.SortDirection) {
                case SortDirection.NotSet:
                    sortByColumn.SortDirection = SortDirection.Descending;
                    break;
                case SortDirection.Ascending:
                    sortByColumn.SortDirection = SortDirection.Descending;
                    break;
                case SortDirection.Descending:
                    sortByColumn.SortDirection = SortDirection.Ascending;
                    break;
                default:
                    sortByColumn.SortDirection = SortDirection.Descending;
                    break;
            }
        switch (sortByColumn.Property) {
            case "NumLessons": {
                Lessons.Sort((x, y) => {
                    int first = x.NumLessons.CompareTo(y.NumLessons);
                    return first != 0 ? first : x.Name.CompareTo(y.Name);
                });
                if (sortByColumn.SortDirection == SortDirection.Ascending) {
                    Lessons.Sort((x, y) => {
                        int first = y.NumLessons.CompareTo(x.NumLessons);
                        return first != 0 ? first : x.Name.CompareTo(y.Name);
                    });
                }
                break;
            }
            case "TeacherId": {
                Lessons.Sort((x, y) => {
                    int first = Teachers.Find(t => t.Id == x.TeacherId).Name
                        .CompareTo(Teachers.Find(t => t.Id == y.TeacherId).Name);
                    return first != 0 ? first : x.Name.CompareTo(y.Name);
                });
                if (sortByColumn.SortDirection == SortDirection.Ascending) {
                    Lessons.Sort((x, y) => {
                        int first = Teachers.Find(t => t.Id == y.TeacherId).Name
                            .CompareTo(Teachers.Find(t => t.Id == x.TeacherId).Name);
                        return first != 0 ? first : x.Name.CompareTo(y.Name);
                    });
                }
                break;
            }
            case "Block": {
                Lessons.Sort((x, y) => {
                    int first = LessonIdblockIds.Where(l=>l.LessonId == x.Id)
                        .Select(l=>Blocks.Find(b=>b.Id == l.BlockId).BlockNum)
                            .OrderBy(x=>x).ToList()[0]
                        .CompareTo(LessonIdblockIds.Where(l=>l.LessonId == y.Id)
                            .Select(l=>Blocks.Find(b=>b.Id == l.BlockId).BlockNum)
                            .OrderBy(x=>x).ToList()[0]);
                    return first != 0 ? first : x.Name.CompareTo(y.Name);
                });
                if (sortByColumn.SortDirection == SortDirection.Ascending) {
                    Lessons.Sort((x, y) => {
                        int first = LessonIdblockIds.Where(l=>l.LessonId == y.Id)
                            .Select(l=>Blocks.Find(b=>b.Id == l.BlockId).BlockNum)
                            .OrderByDescending(x=>x).ToList()[0]
                            .CompareTo(LessonIdblockIds.Where(l=>l.LessonId == x.Id)
                                .Select(l=>Blocks.Find(b=>b.Id == l.BlockId).BlockNum)
                                .OrderByDescending(x=>x).ToList()[0]);
                        return first != 0 ? first : x.Name.CompareTo(y.Name);
                    });
                }
                break;
            }
            default: {
                Lessons.Sort((x, y) => {
                    int first = x.GetType().GetProperty(sortByColumn.Property).GetValue(x).ToString()
                        .CompareTo(y.GetType().GetProperty(sortByColumn.Property).GetValue(y).ToString());
                    return first != 0 ? first : x.Name.CompareTo(y.Name);
                });
                if (sortByColumn.SortDirection == SortDirection.Ascending) {
                    Lessons.Sort((x, y) => {
                        int first = y.GetType().GetProperty(sortByColumn.Property).GetValue(y).ToString()
                            .CompareTo(x.GetType().GetProperty(sortByColumn.Property).GetValue(x).ToString());
                        return first != 0 ? first : x.Name.CompareTo(y.Name);
                    });
                }
                break;
            }
        }
    }
}